.btn {
    position: absolute;
    top: 35vh;
    left: 30vw;
    height: 30vh;
    width: 40vw;
    border-radius: 6px;
    background: radial-gradient(ellipse at center, #fff 0%, #fff 100%);
    font-size: 3.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 500px rgba(229,170,226,0.9);
    z-index: 1;
}

.movediv {
    position: absolute;
    z-index: 1;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    box-shadow: 0 0 500px rgba(229,170,226,0.9);
}

.bouncingdivs {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: rgba(229,170,226,.3);
    animation: bounce 1s ease-in-out infinite;
    box-shadow: 0 0 100px rgba(229,170,226,.9);
}
