.top {
  z-index: 10;
}

.hidden {
  opacity: 0.5;
}

.presidents {
  text-align: center;
  height: fit-content;
  margin-bottom: 100px;
  justify-content: center;
}

.presidents h1 {
  font-size: 70px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.presidentInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.president {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
  margin-left: 100px;
}

.Vanna {
  margin-left: 100px;
  margin-top: -400px;
}

.imageContainer {
  transition: transform .1s;
  background-color: #262626;
  width: 500px;
  height: 600px;
  border-radius: 3px;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer:hover {
  transform: scale(1.02);
}

.president img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 50px;
  border-radius: 20px;
}

.descriptionContainer {
  justify-content: center;
  align-items: center;
  gap: 20px
}

.description {
  background-color: #404040;
  padding: 40px;
  color: white;
  border-radius: 8px;
}

.description p {
  max-width: 700px;
}

.departments {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.departments h1 {
  font-size: 60px;
}

.departmentsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: scroll;
  width: 100%;
  justify-content: center;
}

.department {
  margin-bottom: 50px;
  background:  rgba(229, 170, 226, 0.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 300px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.department:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 1300px) {
  .presidentInfo {
    flex-direction: column;
  }
  .infoContainer {
    justify-content: center;
  }
}
