.dpt-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dpt-page h1 {
    font-size: 70px;
    margin: 50px;
}
.dpt-page h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dpt-leader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dpt-leader-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 420px;
    align-items: center;
    padding: 20px;
    background-color: #666666;
    color: #fff;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dpt-leader-container:hover {
    background-color: #404040;
    transform: scale(1.05);
}

.dpt-leader-description {
    background-color: #666666;
    padding: 50px;
    width: 600px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 100px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.dpt-leader-description:hover {
    background-color: #404040;
    transform: scale(1.05);
}

.dpt-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.dpt-other {
    background-color: #666666;
    padding: 50px;
    width: 600px;
    height: 250px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dpt-other:hover {
    background-color: #404040;
}

.dpt-members-name {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
}
