.bouncingdivs {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: rgba(229,170,226,.3);
    animation: bounce 1s ease-in-out infinite;
    box-shadow: 0 0 100px rgba(229,170,226,.9);
}
