body {
  margin: 0px;
  line-height: 1.5;
  background-color: #e5e5e5;
}


.body {
  margin: 10px 12.5%;
  width: 75%;
  height: 1600px;
  background-color: #9a9a9a;
  box-shadow: 0 10px 60px rgba(229,170,226,.49),0 2px 12px rgba(123,133,218,.292),0 1px 5px rgba(142,246,161,.198);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 1000px;
  width: 100%;
  justify-content: center;
  background: #595959;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: imageSlideshow 9s infinite;
  color: white;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #595959;
  opacity: 0;
  transition: opacity 1s ease;
}

@keyframes imageSlideshow {
  0%, 100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url('./images/picture1.jpeg');
  }
  33% {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url('./images/picture2.jpeg');
  }
  66% {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url('./images/picture4.jpeg');
  }
}

.header h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.news {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.mag {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/magazine.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 550px;
  margin: 80px 3.25%;
  margin-top: 50px;
  padding: 3px 8px;
  padding-left: 15px;
  height: 550px;
  color: white;
  font-weight: bolder;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mag h2 {
  text-align: center;
}

.mag p {
  position: absolute;
  bottom: 10px;
}

.events {
  display: flex;
  flex-direction: column;
  height: 850px;
  margin-top: 65px;
  gap: 20px;
  position: absolute;
  left: 650px;
}

.event {
  background-color: #404040;
  margin: 0 250px;
  padding: 3px 10px;
  color: white;
  border-radius: 3px;
  width: 700px;
  transition: z-index 0.3s;
  height: 250px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
event:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.25);
}

.event p {
  font-size: 14px;
}

.opportunities {
  background-color: #595959;
  padding: 10px 30px;
  width: 1000px;
  margin: 10px 20px;
  position: absolute;
  top: 1600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.opportunities h1 {
  text-align: center;
}

.opportunity {
  margin: 20px 0;
  transition: all 0.3s ease;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.opportunity:hover {
  transform: scale(1.1);
  border-radius: 3px;
}

.opportunity span {
  color: red;
  font-weight: bolder;
}

