.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    height: 67px;
    position: fixed;
    top: 0;
    width: 100%;
}

.dropdown .dropbtn {
  color: white;
  font-weight: 500;
}

.header{
  font-size: 50px;
  text-align: center;
  margin-top: 67px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  .title {
    margin-top: 0;
    font-weight: 500;
  }
}

.mags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  align-items: center;
  justify-items: center;
  margin-top: 70px;
  gap: 90px;
  margin-bottom: 70px;
}


.mag {
  border: none;
  padding: 50px;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.1), rgba(229, 170, 226, 0.5));
}

.end_message {
  font-size: 30px;
  text-align: center;
  margin-top: 67px;
  margin-bottom: 67px;
  font-weight: 500;
}
